@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-primary: #2e7d32;
    --color-secondary: #7cb342;
    --color-accent: #ff9800;
    --color-light: #f1f8e9;
    --color-dark: #1b5e20;
    --color-text: #333;
    --color-shadowcolor: 0 4px 6px rgba(0, 0, 0, 0.1);
}
